<network ipv6="yes">
  <name>default</name>
  <uuid>{{ ansible_libvirt_networks.default.uuid }}</uuid>
  <forward mode="nat" />
  <bridge name="{{ ansible_libvirt_networks.default.bridge }}" stp="on" delay="0"/>
  <mac address="{{ ansible_libvirt_networks.default.macaddress }}"/>
  <domain name="summit.example.org"/>
  <dns>
    <host ip="192.168.121.10">
      <hostname>special-host.summit.example.org</hostname>
    </host>
  </dns>
  <ip address="192.168.121.1" netmask="255.255.255.0">
    <tftp root="/var/lib/tftpboot"/>
    <dhcp>
      <range start="192.168.121.2" end="192.168.121.254"/>
      <bootp file="pxelinux.0"/>
    </dhcp>
  </ip>
</network>
